<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
	<meta name="viewPort" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
	<title>GhostViewer Application</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<section class="split">
			<div class="leftScreen">
				<div class="card1">
					<div class="imgIcon">
						<img src="../images/Ghost-icon.png">
					</div>
					<h2 class="iconName">GhostViewer</h2>
					<button class="button" onclick="window.location.href='../index/index.html';" id="index">Logout</button>
				</div>
			</div>
			<div class="rightScreen">
				<div class="card2">
					<h1>Join Session</h1>
					<h3>Paste the captcha in this box to connect to a session</h3>
					<input type="text" id="ipInput" placeholder="IP: eg. 192.168.1.1/">
					<input type="text" id="captchaInput" placeholder="Captcha: eg. 123-456-789">	
					<button class="button" id="joinBtn">Join</button>
					<div class="copy">
						<h1 id="captcha"></h1>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript">		require('./join.js'); </script>
</body>
</html>